.vscode
.idea
paper
dataset
__pycache__
AL_result
test
abandoned_code.py
test.*
*.pptx
*.mat
*.ppt
*.doc
*.docx
*.pkl
*.txt
*.npy
*.npz
*.jpg
*.pdf
*.png
*.npz
gitcmd.txt
.pytest_cache
.history
.test
*.pyc
build
